@media(max-width: 1180px){
  .feedback__inner{
    flex-direction: column;
  }
  .feedback__inner-item{
    min-width: 100%;
  }
}
@media(max-width: 1150px){
  .news-item{
    max-width: 100%;
    display: block;
    background-color: #fff;
  }
  .news-item__wrapper{
    display: flex;
    flex-direction: column;
  }
  .news-item__images{
    float: left;
    width: 300px;
    height: 235px;
  }
  .advantage__inner{
    justify-content: space-around;
  }
  .advantage__inner-item{
    max-width: 48%;
  }
  .products-slider{
    padding: 70px 0;
  }
  .features__inner-item{
    max-width: 100%;
    margin-bottom: 25px;
  }
  .products-slider__inner{
    .product-item{
      max-width: 95%;
    }
  }
  .features{
    padding-top: 120px;
  }
  .features__inner-text{
    max-width: 700px;
    margin: 0 auto;
  }
  .features__inner-images{
    margin-bottom: 10px;
  }
  .features__inner-title{
    margin-bottom: 10px;  
  }
  .products-items__inner{
    display: block;
  }
  .item-panel__box-left{
    margin-top: 20px;
    margin-bottom: -35px;
  }
  .aside{
    max-width: 100%;
  }
  .aside__item{
    max-width: 100%;
  }
  .contact__item {
    padding: 30px 15px 27px;
    max-width: 280px;
  }
  .favorites__inner .product-item {
    flex-basis: calc(50% - 30px);
    max-width: 100%;
  }
  .categories__list{
    li{
      & + li{
        border-top: 1px solid #0674ec
      }
    }
  }

  .products__list{
    li{
      & + li{
        border-top: 1px solid #0674ec
      }
    }
  }


}

@media(max-width: 1130px){
  .news{
    padding: 70px 0;
  }
  .plan__item{
    width: 48%;
  }
}
@media(max-width: 1050px){
  .features-slider__inner-content {
    flex-direction: column;
  }
  .features-slider__inner-images{
    min-height: 300px;  
    max-width: 100%;
  }
  .features-slider__info-category{
    margin-bottom: 2px;
  }
  .features-slider__inner-box{
    max-width: 100%;
    padding: 20px 20px 0px;
    min-height: 0;
  }
  .features-slider__btn{
    display: none;
  }
  .features-slider__info-text{
    max-width: 100%;
  }
  .blog__wrapper{
    flex-direction: column-reverse;
  }
  .aside-blog{
    max-width: 100%;
  } 
  .aside-blog__inner{
    max-width: 100%;
  }
  .aside-blog__item{
    max-width: 100%;
  }
  .aside-blog__banner{
    max-width: 100%;
  }
  .blog__contant{
    max-width: 100%;
  }
  .blog__item{
    max-width: 100%;
  }
  .blog__text{
    text-align: justify;
  }
  .blog__title{
    line-height: 36px;
  }
  .item-panel__inner{
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    .item-panel__sort .jq-selectbox__select {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .favorites__inner .product-item.list .product-item__images {
    max-width: 230px;
    width: 100%;
  }
  .item-panel__title{
    padding: 5px;
    padding-top: 15px;
    margin-bottom: 10px;
  }
  .item-panel__box-right{
    border: none;
    margin-bottom: 10px;
  }
  .panel__filter{
    margin-bottom: -40px;
  }
  .item-panel__sort{
    order: 3;
  }
  .item-panel__box-right{
    margin-left: auto;
  }
  .panel__filter{
    margin-left: 0;
  }
  .item-panel__sort{
    margin-left: 0;
    flex-direction: column;
    max-width: 100%;

  }
  .header-top__list{
    display: none;
  }
  .footer-top{
    padding: 40px 0;
  }
  .footer-top__inner{
    flex-wrap: wrap;
  }
  .foote-top__first{
    max-width: 100%;
    margin-bottom: 20px;
  }
  .how-work__box {
    max-width: 457px;
    width: 100%;
    margin-left: 20px;
  }
  .how-work__item-black .how-work__box{
    margin-left: 0px;
    margin-right: 20px;
  }
}
@media(max-width: 980px){
  .advantage{
    padding: 70px 0;
  }
  .advantage__subtitle{
    margin-bottom: 30px;
  }
  .screen__inner-form{
    padding: 25px;
    &::before{
      height: 100px;
    }
    button{
      max-width: 150px;
      padding: 18px 15px;
    }
  }
  .item-list-button{
    display: none;
  }
  .item-grid-button{
    margin-right: -12px;
  }
  .item-panel__box-right{
    justify-content: flex-end;
  }
}
@media(max-width: 950px){
  .menu{
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 80px;
    z-index: 2;
    li{
      display: block;
      text-align: center;
      background-color: #fff;
      border-bottom: 1px solid #0674ec;
    }
    li + li{
      margin-left: 0;
    }
    a{
      width: 100%;
      padding: 5px;
    }
    .drop{
      top: 40px;
    }
  }
  .menu__btn{
    display: block;
  }
  .pages__menu{
    top: 281px;
  }
  .first-drop__home{
    z-index: 5;
  }
  .three-drop__products{
    z-index: 4;
  }
  .second-drop__wordpress{
    z-index: 3;
  }
}
@media(max-width: 920px){
  .contact{
    padding: 70px 0;
  }
  .contact__item{
    max-width: 100%;
    padding: 20px;
  }
  .contact__item__title{
    margin-bottom: 10px;
  }
  .contact__item span {
    color: #0674ec;
    font-size: 48px;
    margin-bottom: 10px;
  }
  .products-items__content .product-item {
    flex-basis: calc(50% - 10px);
    max-width: 100%;
  }
}
@media(max-width: 850px){
  .contact-box__form .contact-box__wrapper{
    flex-direction: column;
    margin: 0;
    max-width: 750px;
    input{
      max-width: 100%;
      margin: 0px 0px 30px;
    }
  }
  form{
    max-width: 100%;
    width: 100%;
  }
  
}
@media(max-width: 850px){
  .screen__inner-title{
    font-size: 40px;
    line-height: 50px;
  }
  .screen__inner{
    min-height: 500px;
  }
}
@media(max-width: 800px){
  .feedback{
    padding: 70px 0;
  }
  .opportunities{
    flex-direction: column-reverse;
  }
  .opportunities__buy{
    min-height: 480px;
  }
  .opportunities__buy-text,
  .opportunities__sell-text{
    padding: 0 10px;
    margin-bottom: 15px;
  }
  .opportunities__buy-title.title{
    margin-bottom: 10px;
  }
  .opportunities__sell-title.title{
    margin-bottom: 10px;
  }
  .opportunities__sell{
    min-height: 480px;
  }
  .favorites-nav{
    margin-top: 30px;
  }
  .favorites__inner .product-item{
    flex-basis: 100%;
  }
  .login-from button{
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .header-top__inner{
    height: 65px;
    .user-btn{
      display: block;
    }
  }
  .plan__item{
    width: 100%;
    max-width: 600px;
  }
  .plan__inner{
    justify-content: center;
  }
  .header-top__box-mobale{
    display: none;
    padding: 20px 40px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 65px;
    margin-right: -15px;
    z-index: 5;
    background-color: #eef1f3;
  }
  .header-top__box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  .header-top__btn{
    margin-right: 0;
  }
  .header-top__alert{
    display: flex;
    flex-direction: column;
    margin-right: 4px;
    .header-top__alert-item{
      margin: 10px 0;
    }
  }
  .message,
  .notifications,
  .basket{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-top__user{
    .header-top__user-info{
      display: none;
    }
  }
  .header-top__alert-item a {
    height: 25px;
  }
  .header-top__logo{
    a{
      background-image: url(../img/logomin.png);
      background-repeat: no-repeat;
      height: 50px;
      width: 50px;
    }
    img{
      display: none;
    }
  }
  .header-top__btn{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .lnr-highlight{
      display: block;
      color: #eef1f3;
    }
    .header-top__btn-text{
      display: none;
    }
  }
  .header-top__avatar{
    width: 35px;
    height: 35px;
    margin-left: 0;
  }
  .header-top .notifications__menu{
    right: -6px;
    top: 40px;
    left: auto;
    &::before{
      right: 10px;
      left: auto;
    }
  }
  .header-top .message__menu{
    right: -6px;
    top: 40px;
  }
  .header-top .basket__menu{
    right: -6px;
    top: 40px;
  }
  .user__menu{
    right: -3px;
    top: 43px;
  }
}
@media(max-width: 760px){
  .support__inner{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .support__inner-item{
    max-width: 100%;
    width: 100%;
  }
  .support{
    padding: 40px 0 30px;
  }
  .support__inner-item{
    margin: 20px;
  }
  .advantage__inner-item{
    padding: 25px;
  }
  .advantage__inner-images{
    margin-bottom: 10px;
  }
  .advantage__inner-title{
    margin-bottom: 10px;
  }
  .advantage__inner-text{
    text-align: justify;
  }
  .statistics{
    padding: 50px 0;
  }
  .products-slider__title.title{
    font-size: 26px;
  }
  .products-slider__box-title{
    padding: 10px;
  }
  .products-items__content .product-item {
    flex-basis: calc(100% - 10px);
  }
  .features-slider{
    padding: 70px 0;
  }
  .features-slider__box{
    padding: 15px;
  }
  .features-slider__title.title{
    font-size: 26px;
  }
  .favorites{
    padding: 70px 0;
  }
  .contact-banner{
    padding: 40px 0;
  }
  .contact-box__form .contact-box__wrapper {
    input{
     margin-bottom: 20px;
    }
  }
  .contact-box__title {
    font-size: 24px;
    color: #000;
    text-align: center;
    padding: 50px 10px 30px;
    border-bottom: 1px solid #e7e7e7;
  }
  .error{
    padding: 70px 0;
  }
  .plan{
    padding: 70px 0;
  }
  .footer-top__col.footer-top__colmax{
    max-width: 100%;
    text-align: center;
  }
  .footer-top__col-form{
    margin: 0 auto 30px;
  }
  .list-social{
    text-align: center;
  }
  .footer-top__inner{
    justify-content: space-around;
  }
  .footer-top__colmin{
    margin-bottom: 30px;
  }
  .list-social{
    display: flex;
    justify-content: center;
  }
  .menu__list{
    .pages-off{
      display: none;
    }
    li{
      text-align: right;
      padding: 0 10px;
    }
  }
  .menu__btn{
    margin-right: 30px;
  }
}
@media(max-width: 680px){
  .news-item__content{
    padding: 10px;
  }
  .news-item__footer{
    padding: 0 10px;
  }
  .news-item__title{
    margin-bottom: 10px;
  }
  .news-item__images{
    float: none;
    max-width: 100%;
    width: 100%;
  }
  .feedback__inner-text{
    text-align: justify;
  }
  .advantage__title{
    font-size: 26px;
  }
  .screen__inner{
    margin-bottom: -80px;
  }
  .screen__inner-text{
    font-size: 16px;
  }
  .screen__inner-form{
    padding: 10px;
    form{
      display: flex;
      flex-direction: column;
    }
    input{
      border-right: 1px solid #dcdcdc;
      border-radius: 6px;
      padding: 10px 10px;
      margin-bottom: 15px;
    }
    button{
      margin-left: 0;
      padding: 12px 18px;
      max-width: 100%;
    }
  }
  .screen__inner-form .jq-selectbox__select {
    height: 40px;
    padding: 0 45px 0 10px;
    border-radius: 6px;
    margin-bottom: 20px;
  }
  .screen__inner-form .jq-selectbox__select-text {
    line-height: 43px;
  }
  .screen__inner-form .jq-selectbox__trigger-arrow::before {
    top: 2px;
  }
  .container{
    padding: 0 8px;
  }
  .blog{
    padding-bottom: 70px;
  }
  .how-work__inner{
    flex-direction: column;
    align-items: center;
  }
  .how-work__images{
    margin-bottom: 20px;
  }
  .how-work__item-black .how-work__box {
    order: 2;
    margin-right: 0;
  }
  .how-work__box{
    margin-left: 0;
  }
}
@media(max-width: 620px){
  .advantage__inner-item{
    max-width: 100%;
  }
  .statistics__inner-item{
    width: 200px;
    margin-bottom: 30px;
  }
  .statistics__inner-text{
    margin: 0 auto;
  }
  .statistics__inner{
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .product-item__content{
    padding: 10px;
  }
  .products-slider{
    .product-item__text{
      text-align: justify;
    }
    .product-item__box{
      margin-bottom: 10px;
    }
  }
  .features__inner-text{
    text-align: justify;
  }
  .features__inner-item{
    padding: 10px;
  }
  .terms__title{
    padding: 20px 10px;
  }
  .terms__item p{
    padding: 10px;
    text-align: justify;
  }
  .contact__map{
    iframe{
      height: 320px;
    }
  }
}
@media(max-width: 580px){
  .features-slider__inner-box.features-slider__info{
    padding: 10px 10px 0;
  }
  .features-slider__info-text{
    text-align: justify;
    margin: 15px 0;
  }
  .features-slider__info-category{
    li{
      padding: 0px 12px;
    }
  }
  .features-slider__info-title{
    margin-bottom: 10px;
  }
  .features-slider__inner-footer{
    min-height: 60px;
  }
  .screen__inner-title{
    font-size: 30px;
    line-height:40px;
  }
  .favorites__inner .product-item{
    .product-item__content{
      padding: 15px;
    }
    .product-item__box{
      margin-bottom: 10px;
    }
  }
  .banner{
    padding: 60px 0;
  }
  .login{
    padding-bottom: 70px;
  }
  .plan__text{
    margin-bottom: 30px;
  }
  .login-from{
    padding: 25px 10px 25px;
  }
  .plan__title{
    font-size: 30px;
    line-height: 36px;
  }
  .register-from {
    padding: 25px 10px 25px;
  }
  .register__top, .login__top {
    padding: 30px 10px 20px;
  }
  .register-from button {
    margin-bottom: 20px;
  }
  .register{
    padding-bottom: 70px;
  }
  .register-from input {
    margin-bottom: 10px;
  }
  .recover-password__text {
    padding: 30px 10px 20px;
    text-align: justify;
  }
  .recover-password__form {
    padding: 30px 10px 40px;
  }
  .recover-password{
    padding-bottom: 70px;
  }
}
@media(max-width: 500px){
  .feedback__title.title{
    margin-bottom: 10px;
  }
  .feedback__inner-item{
    padding: 10px;
  }
  .feedback__inner-avatar{
    height: 40px;
    width: 40px;
  }
  .feedback__inner-images{
    img{
      width: 40px;
      height: 40px; 
    }
  }
  .feedback__inner-name{
    font-size: 18px;
  }
  .feedback__inner-profession {
    line-height: 18px;
  }
  .opportunities__buy-text,
  .opportunities__sell-text{
    text-align: justify;
  }
  .screen__inner-bnt {
    margin: 7px;
  }
  .screen__inner-text{
    margin-bottom: 20px;
  }
  .tags__list{
    columns: 2;
    li{
      display: block;
    }
  }
  .aside-product__title{
    font-size: 14px;
  }
  .aside-product__date {
    color: #898f96;
    font-size: 14px;
    span{
      font-size: 13px;
    }
  }
  .blog__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li + li{
      margin-left: 0;
    }
    li{
      min-width: 125px;
    }
  }
  .blog__title{
    font-size: 24px;
    line-height: 30px;
  }
  .blog__top{
    padding: 10px;
  }
  .blog__bottom{
    padding: 10px 10px 30px;
  }
  .blog__images{
    min-height: 300px;
  }
  .search-item__form{
    button{
      max-width: 90px;  
      padding: 5px 17px
    }
    input{
      padding-right: 100px;
    }
  }
  .plan__item-price{
    font-size: 30px;
  }
  .plan__item{
    padding: 0px 10px 30px;
  }
  .plan__item-price {
    padding: 18px 0;
  }
  .login-from__text{
    flex-direction: column;
  }
  .login-from__lost{
    margin-bottom: 10px;
  }
}
@media(max-width: 420px){
  .support__inner-title{
    font-size: 20px;
  }
  .statistics__inner-item{
    margin-bottom: 30px;
  }
  .features-slider__inner-like{
    display: none;
  }
  .features-slider__inner-shop{
    margin-left: 10px;
  }
  .pagenation__next{
    margin-left: 0;
    width: 45px;
  }
  .pagenation__prev{
    margin-right: 0;
    width: 45px;
  }
  .pagenation__list a{
    width: 44px;
  }
  .pagenation__list span{
    width: 44px;
  }
  .contact__text{
    margin-bottom: 20px;
  }
  .error__text {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .banner__title.title{
    font-size: 24px;
    line-height: 30px;
  }
  .banner__subtitle{
    font-size: 15px;
  }
  .screen-work__title{
    font-size: 24px;
    line-height: 35px;
    margin: 0 auto 20px;
  }
  .screen-work{
    padding: 50px 0 30px;
  }
  .how-work__title{
    font-size: 25px;
  }
  .how-work__text{
    text-align: justify;
  }
  .notifications__menu{
    max-width: 320px;
    padding: 0px 15px;
  }
  .header-top .message__menu{
    max-width: 320px;
  }
  .header-top .basket__menu{
    max-width: 320px;
  }
  .user__menu{
    max-width: 320px;
  }
  .notifications__item-action{
    font-size: 12px;
    line-height: 18px;
  }
  .notifications__item-time{
    line-height: 20px;
  }
  .message__info{
    line-height: 16px;
  }
  .message__name-link{
    margin-bottom: 0;
  }
  .header-top .basket__name{
    font-size: 14px;
    margin-bottom: 0;
  }
  .basket__category{
    font-size: 14px;
  }
  .header-top .basket__item{
    padding: 15px;
    padding-bottom: 25px;
  }
}
@media(max-width: 370px){
  .news-item__text{
    text-align: justify;
  }
  .feedback_subtitle{
    text-align: justify;
  }
  .tabs span {
    color: #000;
    display: block;
    cursor: pointer;
    font-size: 18px;
  }
  .item-panel__box-left{
    button{
      display: block;
      & + button{
        margin-left: 0;
        margin: 10px 0;
      }
    }
  }
  .item-panel__box-right{
    margin-top: -20px;
    margin-bottom: 20px;
  }
  .contact__title{
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 10px;
  }
  .pagenation__next{
    margin-left: 0;
  }
  .pagenation__prev{
    margin-right: 0;
  }
  .header-top .notifications__menu {
    right: -44px;
  }
  .header-top .message__menu {
    right: -44px;
  }
  .header-top .basket__menu{
    right: -44px;
  }
  .header-top .basket__menu::before {
    right: 49px;
  }
  .header-top .message__menu::before {
    right: 49px;
  }
  .header-top .notifications__menu::before {
    right: 49px;
  }
}
@media(max-width: 360px){
  .header-menu__form{
    input{
      padding-right: 60px;
    }
    button{
      width: 50px;
      &:hover{
        width: 50px;
      }
    }
  }
}
@media(max-width: 340px){
  .footer-top__inner{
    justify-content: center;
  }
} 

@media(min-width: 951px){
  .menu{
    display: block !important;
  }
}

@media(min-width: 801px){
  .header-top__box-mobale{
    display: block !important;
  }
}

