@import 'vars';
@import 'fonts';
@import 'global';

// ----------------------------------header start-------------------------
.header-top{
  background-color: #eef1f3;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
  &__btn{
    background-color: #0674ec;
    text-align: center;
    font-size: 14px;
    padding: 5px 18px;
    border-radius: 50px;
    color: #fff;
    margin-right: 35px;
  }
  &__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__alert-item{
    display: inline-block;
    margin: 0 15px;
    position: relative;
    .header-top__alert-numbers{
      position: absolute;
      right: -20px;
      top: -10px;
      max-width: 30px;
      height: 20px;
      padding: 0px 6px;
      font-size: 14px;
      color: #fff;
      font-weight: 500;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .bell-number{
      background-color: #ff6a6c;
    }
    .message-number{
      background-color: #62d03b;
    }
    .shop-number{
      background-color: #0674ec;
    }
  }
  &__user{
    display: flex;
    align-items: center;
  }
  &__avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 25px;
  }
  &__user-info{
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    margin-left: 20px;
    color: #333333;
    a{
      display: block;
      color: #0674ec;
      font-size: 15px;
    }
  }
}

.header-menu__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.menu{
  li{
    display: inline-block;
    & + li{
      margin-left: 30px;
    }
  }
  a{
    color: #333333;
    font-weight: 500;
    text-transform: uppercase;

  }
}
.header-menu__form{
  max-width: 360px;
  width: 100%;
  position: relative;
  input{
    width: 100%;
    padding: 15px 80px 15px 25px;
    font-size: 15px;
    color: #000;
    border-radius: 30px;
    border: 1px solid #898f96;

    &::placeholder{
      color: #898f96;
    }
  }
  button{
    width: 70px;
    height: 48px;
    border-radius: 30px;
    border: none;
    background-color: #0674ec;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    .lnr-magnifier{
      fill: #fff;
    }
  }
  
}

// ----------------------------------header end-------------------------

// ----------------------------------screen start-------------------------
.screen{
  background-color: #2145ca;
}
.screen__inner{
  min-height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  &-title{
    text-align: center;
    font-size: 60px;
    line-height: 70px;
    font-weight: 400;
    margin-bottom: 20px;
    span{
      font-weight: 700;
      display: block;
    }
  }
  &-text{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  &-form{
    transform: translateY(50%);
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border-radius: 6px;
    position: relative;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    z-index: 5;
    &::after,
    &::before{
      content: "";
      opacity: 0.502;
      max-width: 1080px;
      background-color: #fff;
      border-radius: 6px;
      height: 135px;
      position: absolute;
      z-index: -1;
      left: 0;
      right: 0;
      top: -28px;
      margin: 0 30px;
    }
    &::before{
      max-width: 1110px;
      top: -14px;
      margin: 0 15px;
    }
    form{
      display: flex;
    }
    input{
      padding: 18px 195px 18px 25px;
      max-width: 805px;
      width: 100%;
      border-radius: 6px;
      border: 1px solid #dcdcdc;
    }
    button{
      padding: 18px 63px;
      max-width: 220px;
      width: 100%;
      border: none;
      cursor: pointer;
      background-color: #0674ec;
      border-radius: 6px;
      color: #fff;
      margin-left: 30px;
    }
  }
}
.screen__inner-bnt{
  padding: 12px 30px;
  background-color: transparent;
  border: 1px solid #fff;
  margin: 0 15px;
  border-radius: 30px;
  font-size: 16px;
  color: #fff;
  position: relative;
}
.screen__inner-bg{
  background-color: #fff;
  color: #0674ec;
}

// ----------------------------------screen end-------------------------{
// ----------------------------------features end-------------------------{
.features{
  padding: 190px 0 80px;
}
.features__inner{
  display: flex;
  justify-content: space-between;

  &-item{
    max-width: 360px;
    width: 100%;
    text-align: center;
    padding: 40px 30px;
    margin-bottom: 40px;
  }
  &-images{
    margin-bottom: 20px;
  }
  &-title{
    font-size: 24px;
    color: #000;
    margin-bottom: 20px;
  }
  &-text{

  }
}
// ----------------------------------features end-------------------------{